/* [project]/src/sections/hero.css [app-client] (css) */
#hero {
  width: 100%;
  height: 100vh;
  background: url("../media/starry.8bdb6269.gif") top;
  background-size: cover;
  position: relative;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#hero:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

#hero .container {
  position: absolute;
  top: 30%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#hero h1 {
  margin: 0;
  font-size: 8rem;
  font-weight: 700;
  line-height: 7.5rem;
  color: #c2c2f3;
  font-family: Playfair Display\, serif;
}

#hero h1 span {
  color: #7777ed;
}

#hero h2 {
  color: #eee;
  margin: 20px 0 0;
  font-size: 2rem;
}

#hero .btns {
  margin-top: 30px;
}

@media (width >= 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (width <= 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(.6);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}


/* [project]/src/components/heroBtn.css [app-client] (css) */
#hero .btn-hero {
  font-weight: 600;
  font-size: 13px;
  letter-spacing: .5px;
  text-transform: uppercase;
  display: inline-block;
  padding: 12px 30px;
  border-radius: 50px;
  transition: all .3s;
  line-height: 1;
  color: #fff;
  border: 2px solid #7777ed;
  cursor: pointer;
}

#hero .btn-hero:hover {
  background: #7777ed;
  color: #fff;
}


/* [project]/src/sections/about.css [app-client] (css) */
.about .about-img {
  position: relative;
  transition: all .5s;
}

.about .about-img img {
  max-width: 100%;
  height: auto;
  position: relative;
}

.about .about-img:before {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 60px;
  height: 60px;
  z-index: 1;
  content: "";
  border-left: 5px solid #7777ed;
  border-top: 5px solid #7777ed;
  transition: all .5s;
}

.about .about-img:after {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  z-index: 2;
  content: "";
  border-right: 5px solid #7777ed;
  border-bottom: 5px solid #7777ed;
  transition: all .5s;
}

.about .about-img:hover {
  transform: scale(1.03);
}

.about .about-img:hover:before {
  left: 10px;
  top: 10px;
}

.about .about-img:hover:after {
  right: 10px;
  bottom: 10px;
}

.about .content {
  position: relative;
  color: #a19898;
  margin-top: 160px;
}

.about .content h3 {
  font-family: Playfair Display\, serif;
  font-weight: 600;
  font-size: 30px;
}

.about .content p {
  font-family: Playfair Display\, serif;
  font-size: 19px;
  color: #a19898;
  margin-top: 30px;
  padding-right: 80px;
}

.about .content p:last-child {
  margin-bottom: 0;
}


/* [project]/src/sections/whyUs.css [app-client] (css) */
.why-us .box {
  padding: 50px 30px;
  transition: all .3s ease-in-out;
  background: #1a1814;
}

.why-us .box span {
  display: block;
  font-size: 28px;
  font-weight: 700;
  color: #7777ed;
}

.why-us .box h4 {
  font-size: 24px;
  font-weight: 600;
  padding: 0;
  margin: 20px 0;
  color: #fffc;
}

.why-us .box p {
  color: #aaa;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.why-us .box:hover {
  background: #7777ed;
  padding: 30px 30px 70px;
}

.why-us .box:hover span, .why-us .box:hover h4, .why-us .box:hover p {
  color: #fff;
}


/*# sourceMappingURL=src_5faffc._.css.map*/
