/* [project]/src/app/sections/hero.css [app-client] (css) */
#hero {
  width: 100%;
  height: 100vh;
  background: url("../media/starry.8bdb6269.gif") top;
  background-size: cover;
  position: relative;
  padding: 0;
}

#hero:before {
  content: "";
  background: #00000080;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .container {
  padding-top: 110px;
}

@media (width <= 992px) {
  #hero .container {
    padding-top: 98px;
  }
}

#hero h1 {
  margin: 0;
  font-size: 8rem;
  font-weight: 700;
  line-height: 7.5rem;
  color: #fff;
  font-family: Poppins, sans-serif;
}

#hero h1 span {
  color: #7777ed;
}

#hero h2 {
  color: #eee;
  margin-bottom: 10px 0 0 0;
  font-size: 2rem;
}

#hero .btns {
  margin-top: 30px;
}

#hero .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#7777ed 50%, #16165a 52%);
  border-radius: 50%;
  display: block;
  position: relative;
  overflow: hidden;
}

#hero .play-btn:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%)translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid #0000;
  border-bottom: 10px solid #0000;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all .4s cubic-bezier(.55, .055, .675, .19);
}

#hero .play-btn:before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: 2s pulsate-btn;
  animation: 2s pulsate-btn;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid #7f7fc3;
  top: -15%;
  left: -15%;
  background: #c6100000;
}

#hero .play-btn:hover:after {
  border-left: 15px solid #7777ed;
  transform: scale(20);
}

#hero .play-btn:hover:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%)translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid #0000;
  border-bottom: 10px solid #0000;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

@media (width >= 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (width <= 992px) {
  #hero .play-btn {
    margin-top: 30px;
  }
}

@media (height <= 500px) {
  #hero {
    height: auto;
  }

  #hero .container {
    padding-top: 130px;
    padding-bottom: 60px;
  }
}

@media (width <= 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(.6);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    tranform: scale(.6, .6);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}


/* [project]/src/app/components/heroBtn.css [app-client] (css) */
#hero .btn-hero {
  font-weight: 600;
  font-size: 13px;
  letter-spacing: .5px;
  text-transform: uppercase;
  display: inline-block;
  padding: 12px 30px;
  border-radius: 50px;
  transition: all .3s;
  line-height: 1;
  color: #fff;
  border: 2px solid #7777ed;
  cursor: pointer;
}

#hero .btn-hero:hover {
  background: #7777ed;
  color: #fff;
}


/* [project]/src/app/sections/about.css [app-client] (css) */
.about {
  background: url("../media/starry.8bdb6269.gif") center;
  background-size: cover;
  position: relative;
  padding: 80px 0;
}

.about:before {
  content: "";
  background: #000c;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.about .about-img {
  position: relative;
  transition: all .5s;
}

.about .about-img img {
  max-width: 100%;
  height: auto;
  border: 4px solid #fff3;
  position: relative;
}

.about .about-img:before {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 60px;
  height: 60px;
  z-index: 1;
  content: "";
  border-left: 5px solid #7777ed;
  border-top: 5px solid #7777ed;
  transition: all .5s;
}

.about .about-img:after {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 20px;
  height: 20px;
  z-index: 2;
  content: "";
  border-right: 5px solid #7777ed;
  border-bottom: 5px solid #7777ed;
  transition: all .5s;
}

.about .about-img:hover {
  transform: scale(1.03);
}

.about .about-img:hover:before {
  left: 10px;
  top: 10px;
}

.about .about-img:hover:after {
  right: 10px;
  bottom: 10px;
}

.about .content {
  position: relative;
}

.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #7777ed;
}

.about .content p:last-child {
  margin-bottom: 0;
}

@media (width >= 1024px) {
  .about {
    background-attachment: fixed;
  }
}


/* [project]/src/app/sections/whyUs.css [app-client] (css) */
.why-us .box {
  padding: 50px 30px;
  box-shadow: 0 2px 15px #0000001a;
  transition: all .3s ease-in-out;
  background: #1a1814;
}

.why-us .box span {
  display: block;
  font-size: 28px;
  font-weight: 700;
  color: #7777ed;
}

.why-us .box h4 {
  font-size: 24px;
  font-weight: 600;
  padding: 0;
  margin: 20px 0;
  color: #fffc;
}

.why-us .box p {
  color: #aaa;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.why-us .box:hover {
  background: #7777ed;
  padding: 30px 30px 70px;
  box-shadow: 10px 15px 30px #0000002e;
}

.why-us .box:hover span, .why-us .box:hover h4, .why-us .box:hover p {
  color: #fff;
}


/* [project]/src/app/components/sectionTitle.css [app-client] (css) */
.section-title {
  padding-bottom: 40px;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaa;
  font-family: Poppins, sans-serif;
}

.section-title h2:after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #fff3;
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  font-family: Playfair Display, serif;
  color: #7777ed;
}


/*# sourceMappingURL=src_app_541329._.css.map*/
