body {
  font-family: 'Open Sans', sans-serif !important;
  background: url('../../public/assets/starry.gif') center center;
  color: #ffffff;
}

a {
  color: #cda45e;
  text-decoration: none !important;
}

a:hover {
  color: #7777ed;
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', scrif;
}

body::-webkit-scrollbar {
  display: none;
}

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background: url('../../public/assets/starry.gif') center center;
}